<h1>Cocktails List</h1>

<ul>
<% @cocktails.each do |c| %>
<li><%= c.name %> <%= link_to "See Details", cocktail_path(c), class: "btn btn-primary"%></li>
<% end %>
</ul>

<%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary"%>
