.welcome {
  height: 90vh;
  background-size: cover !important;
  background-position: center;
  text-align: center;
  margin-top: 0px;
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome_content {
  background-color: rgba(102, 118, 152, 0.5);
  position: absolute;
  border-radius: 5px;
  padding: 10px 20px;
}

